<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'ventas/css/login.css' %}">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div clas<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">

                    <div class="mb-md-5 mt-md-4 pb-5">

                        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                        <p class="text-white-50 mb-5">¡Por favor, introduce tu usuario y contraseña!</p>

                        <form id="loginForm">
                            <div class="form-outline form-white mb-4">
                                <input type="email" id="typeEmailX" name="email" class="form-control form-control-lg" required />
                                <label class="form-label" for="typeEmailX">Correo</label>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" id="typePasswordX" name="password" class="form-control form-control-lg" required />
                                <label class="form-label" for="typePasswordX">Contraseña</label>
                            </div>

                            <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">¿Has olvidado tu contraseña?</a></p>

                            <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="form.html">registrarse</a></p>

                            <button type="submit" class="btn btn-primary" href="{% url 'dashboard' %}" >Login</button>

                        </form>

                        <div class="d-flex justify-content-center text-center mt-4 pt-1">
                            <a href="https://www.facebook.com" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                            <a href="https://www.twitter.com" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                            <a href="https://www.google.com" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>s="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                    <p class="text-white-50 mb-5">¡Por favor, introduce tu usuario y contraseña!</p>
      
                    <form id="loginForm">
                      <div class="form-outline form-white mb-4">
                        <input type="email" id="typeEmailX" name="email" class="form-control form-control-lg" required />
                        <label class="form-label" for="typeEmailX">Correo</label>
                      </div>
          
                      <div class="form-outline form-white mb-4">
                        <input type="password" id="typePasswordX" name="password" class="form-control form-control-lg" required />
                        <label class="form-label" for="typePasswordX">Contraseña</label>
                      </div>
          
                      <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">¿Has olvidado tu contraseña?</a></p>

                      <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="form.html">registrarse</a></p>

                      <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="{% url 'dashboard' %}">Login</a></p>
          
                    </form>
      
                    <div class="d-flex justify-content-center text-center mt-4 pt-1">
                      <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                      <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                      <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                    </div>
      
                  </div>
      
                  <div>
                    <p class="mb-0">¿No tienes una cuenta? <a href="#!" class="text-white-50 fw-bold">Regístrate</a>
                    </p>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script src="{% static 'ventas/js/login.js' %}"></script>
</body>
</html>
