@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --white: #fff6ff;
    --purple: #9316c8;
    --dark-rose: #a586ae;
    --black: #221824;
    --font: 'Raleway' , sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    background: var(--white);
    overflow-x: hidden;
}

section {
    position: relative;
    width: 100%;
}

.nav {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--purple);
    border-left: 10px solid var(--purple);
    overflow: hidden;
    transition: 0.4s;
}

.nav.active {
    width: 80px;
}

.nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav ul li {
    position: relative;
    width: 200%;
    list-style: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.nav ul li:hover,
.nav ul li.active {
    background: var(--white);
}

.nav ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.nav ul li a {
    position: relative;
    display: flex;
    width: 100%;
    color: var(--white);
    text-decoration: none;
}

.nav ul li:hover a,
.nav ul li.active a  {
    color: var(--purple);
}

.nav ul li a .icono {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
}

.nav ul li a .icono ion-icon {
    font-size: 1.75em;
}

.nav ul li a .titulo {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.container {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-width: 100vh;
    background: var(--white);
    transition: 0.4s;
}

.container.active {
    width: calc(100% - 80px);
    left: 80px;
}

.container .topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.container .topbar .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.container .topbar .buscar {
    position: relative;
    width: 400px;
    margin: 0 10px;

}

.container .topbar .buscar label {
    position: relative;
    width: 100%;
}

.container .topbar .buscar label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 1em;
    outline: none;
    border: 1px solid var(--dark-rose);
}

.container .topbar .buscar label ion-icon {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.container .topbar .perfil-usuario {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.container .topbar .perfil-usuario img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detalles {
    position: relative;
    width: 150%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.detalles .clientes {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header h2 {
    font-weight: 700;
    color: var(--purple);
}

.detalles table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    text-align: left;
}

.detalles .clientes table tr {
    color: var(--black);
    border-radius: 1px solid rgba(0,0,0,0.1);
}

.detalles .clientes table tr:hover {
    background: var(--purple);
    color: var(--white);
}

.detalles .clientes table tr td {
    padding: 10px;
}

.detalles .clientes table tr td:last-child {
    text-align: center;
}

.detalles .clientes table tr td:nth-child(3) {
    text-align: center;
}